:root {
  --second-color-title: #c9ff07;
  --border-bottom: 1px solid var(--second-color-title);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fcd307;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  margin-top: 1.5rem;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  font-family: 'Roboto Condensed';
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
label,
textarea {
  display: block;
  width: 100%;
  margin-top: 0.75rem;
}

label, input, textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
  margin-top: 1rem;
  margin-left: 1rem;
}

input[type="button"],
input[type="submit"],
button,
[class$="button"] {
  font-size: 1em;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
}

header {
  width: 85%;
  margin: 0 auto;
}

.logo h1 {
  color: #08088e;
  margin: 1.5rem 0;
  letter-spacing: 3px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 2px 0 1px rgba(0, 0, 0, 0.5), 0 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: text-shadow 0.5s;
  transition: text-shadow 0.5s;
}

.logo h1:hover {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5), -2px 0 1px rgba(0, 0, 0, 0.5), 0 -2px 1px rgba(0, 0, 0, 0.5);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #443737;
  -webkit-box-shadow: 0 0 3px #000, 0 2px 2px #000, 0 -2px 2px #000;
          box-shadow: 0 0 3px #000, 0 2px 2px #000, 0 -2px 2px #000;
  overflow: hidden;
}

.menu .menu-item {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border-right: 2px solid #000;
}

.menu .menu-item:last-of-type {
  border-right: none;
}

.menu .menu-link {
  text-align: center;
  display: block;
  font-size: 1em;
  padding: 1em;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu .menu-link:hover {
  background: #999;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  margin-top: 1rem;
  background: #08088e;
  border-radius: 7px 7px 0 0;
}

.container {
  width: 70%;
}

.main-title {
  text-align: center;
  font-size: 2em;
  color: #00ff93;
  letter-spacing: 3px;
}

.products {
  padding: 1.5em;
  padding-top: 0;
}

.product {
  margin-top: 2rem;
  border-bottom: var(--border-bottom);
}

.product .product-name {
  font-size: 1.6em;
  margin: 1rem 0;
  color: var(--second-color-title);
}

.product .product-description {
  color: #fff;
  letter-spacing: 1px;
  text-align: justify;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-info {
  margin-left: 4rem;
}

.product-info h4 {
  margin-top: 3rem;
  font-size: 1.5em;
  color: var(--second-color-title);
}

.product-info h4:first-of-type {
  font-size: 1.25em;
  margin-top: 0;
}

[class$="banner"] {
  display: inline-block;
  background: #09bd09;
  border-radius: 5px;
  padding: 0.35em;
}

.users-table {
  border: var(--border-bottom);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1rem auto 4rem;
}

.users-table th {
  font-size: 1.25em;
  color: var(--second-color-title);
}

.users-table td {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.users-table th, .users-table td {
  border: var(--border-bottom);
  padding: 1em;
}

.edit-button {
  background: #0091ea;
}

.delete-button {
  background: #f00;
}

.add-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-button {
  display: inline-block;
  margin-top: 1rem;
  background: #0091ea;
}

.form-user {
  margin-bottom: 2rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.form-user label, .form-user input[type="submit"] {
  font-family: 'Roboto Condensed', sans-serif;
}

.form-user label {
  margin-top: 2rem;
  color: var(--second-color-title);
  font-weight: bold;
}

.form-user input[type="submit"] {
  margin-top: 2rem;
  background: #00b0ff;
}

aside {
  width: 25%;
}

.login,
.logged {
  background: #fff;
  border-radius: 5px;
  padding: 1rem 0;
  margin-top: 1rem;
}

.login h2,
.logged h2 {
  margin-top: 0;
  text-align: center;
}

.login [class$="button"],
.logged [class$="button"] {
  display: block;
  text-align: center;
  background: #0091ea;
  color: #fff;
  border: 1px solid #0091ea;
  -webkit-box-shadow: 0 0 2px #0091ea;
          box-shadow: 0 0 2px #0091ea;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.login [class$="button"]:hover,
.logged [class$="button"]:hover {
  background: rgba(0, 145, 234, 0.5);
}

.form-login {
  padding: 0 1em;
}

.alert {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0.25rem;
}

.danger {
  color: #f00;
}

.success {
  color: lime;
}

footer {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
}

footer h3 {
  font-size: 1.25em;
  padding: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 5px;
}
/*# sourceMappingURL=style.css.map */