aside {
  width: 25%;
}

.login,
.logged {
  background: #fff;
  border-radius: 5px;
  padding: 1rem 0;
  margin-top: 1rem;

  h2 {
      margin-top: 0;
      text-align: center;
  }

  [class$="button"] {
      display: block;
      text-align: center;
      background: #0091ea;
      color: #fff;
      border: 1px solid #0091ea;
      box-shadow: 0 0 2px #0091ea;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      transition: background 0.5s;

      &:hover {
          background: rgba(#0091ea, 0.5);
      }
  }
}

.form-login {
    padding: 0 1em;
}

.alert {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0.25rem;
}

.danger {
  color: #f00;
  text-align: left;
}

.success {
  color: lime;
}


