.content {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  margin-top: 1rem;
  background: #08088e;
  border-radius: 7px 7px 0 0;
}

.container {
  width: 70%;
}

.main-title {
  text-align: center;
  font-size: 2em;
  color: #00ff93;
  letter-spacing: 3px;
}

.products {
  padding: 1.5em;
  padding-top: 0;
}

.product {
  margin-top: 2rem;
  border-bottom: var(--border-bottom);

  #{&}-name {
    font-size: 1.6em;
    margin: 1rem 0;
    color: var(--second-color-title);
  }

  #{&}-image {
  }

  #{&}-description {
    color: #fff;
    letter-spacing: 1px;
    text-align: justify;
  }
}

.main-info {
  display: flex;
}

.product-image {
}

.product-info {
  margin-left: 4rem;

  h4 {
    margin-top: 3rem;
    font-size: 1.5em;
    color: var(--second-color-title);

    &:first-of-type {
      font-size: 1.25em;
      margin-top: 0;
    }
  }
}

[class$="banner"] {
  display: inline-block;
  background: #09bd09;
  border-radius: 5px;
  padding: 0.35em;
}

.banner-container {
  margin-top: 1rem;
}

[class$="table"] {
  border: var(--border-bottom);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1rem auto 4rem;

  th {
    font-size: 1.25em;
    color: var(--second-color-title);
  }

  td {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
  }

  th, td {
    border: var(--border-bottom);
    padding: 1em;
  }
}

.edit-button {
  background: $edit-button;
}

.delete-button {
  background: $delete-button;

  &:hover {
    background: rgba($delete-button, 0.5);
  }
}

.add-container {
  display: flex;
  justify-content: center;
}

.add-button {
  display: inline-block;
  margin-top: 1rem;
  background: $edit-button;
  color: #fff;
}

.edit-button, .add-button {
  &:hover {
    background: rgba($edit-button, 0.5);
  }
}

.form-user, .form-seller, .form-product {
  margin-bottom: 2rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  label, input[type="submit"] {
    font-family: 'Roboto Condensed', sans-serif;
  }

  label {
    margin-top: 2rem;
    color: var(--second-color-title);
    font-weight: bold;
  }

  input[type="submit"] {
    margin-top: 2rem;
    background: #00b0ff;
    color: #fff;
    transition: all 0.5s;

    &:hover {
      background: rgba(#00b0ff, 0.7);
    }

    
  }
}

.empty-products {
  text-align: center;
  margin-top: 1rem;
  color: $second-color-title;
}

