footer {
    background: rgba(#000,0.9);
    color: #fff;
    text-align: center;

    h3 {
        font-size: 1.25em;
        padding: 1em;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 5px;
    }
    
}