*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #fcd307;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    margin-top: 1.5rem;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    font-family: 'Roboto Condensed';
    text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
label,
textarea {
    display: block;
    width: 100%;
    margin-top: 0.75rem;
}

label, input, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.35em;
}

input[type="button"],
input[type="submit"],
button,
[class$="button"] {
    font-size: 1em;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    transition: background 0.5s;
}