:root {
    --second-color-title: #c9ff07;
    --border-bottom: 1px solid var(--second-color-title);
    --edit-button: #0091ea;
    --delete-button: #f00;
}

$second-color-title: #c9ff07;
$border-bottom: 1px solid $second-color-title;
$edit-button: #0091ea;
$delete-button: #f00;